# --- Secrets & Environment ---
.env

# --- Astro/Local Dev artifacts ---
.astro/

# --- Airflow/Docker runtime artifacts ---
logs/
plugins/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# --- OS System files ---
.DS_Store
Thumbs.db

# --- Astro Set up---
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
dist/
